:root {
    --red: rgb(167, 58, 58);
    --orange: rgb(183, 108, 58);
    --yellow: rgb(244, 234, 143);
    --stroke-color: rgb(29, 17, 17);
    --fill-color: rgb(3, 2, 1);
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

@keyframes edpt-animate {

    0%,
    100% {
        font-variation-settings: "EDPT" 50, "EHLT" 21;
    }

    50% {
        font-variation-settings: "EDPT" 125, "EHLT" 50;
    }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

header {
    padding: 1em;
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 1em;
}

a {
    color: white;
    text-decoration: underline 0.15em rgba(0, 0, 0, 1);
    text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

a:hover {
    text-decoration-color: rgb(203, 203, 255);
    color: rgb(203, 203, 255);
    text-underline-offset: 0.2em;
}

.emoji {
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.intro {
    text-align: left;
    padding: 1em;
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .intro h1 {
        font-size: 2em;
        /* Larger font size for large screens */
    }
}

@media (min-width: 800px) and (max-width: 1199px) {
    .intro h1 {
        font-size: 3em;
        /* Medium font size for medium screens */
    }
}

@media (max-width: 799px) {
    .intro h1 {
        font-size: 2.5em;
        /* Smaller font size for small screens */
    }
}

.intro h1 {
    font-size: clamp(2.5em, 4.5vw, 5em);
    /* Responsive font size based on viewport width */
    line-height: 1.5em;
    display: inline-block;
    position: relative;
    font-weight: 200;
}


.name-text {
    font-family: "Bevan", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: background-pan 10s linear infinite;
        background: linear-gradient(to right,
                var(--red),
                var(--orange),
                var(--yellow),
                var(--red));
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
}

.leader-text {
    font-family: "Codystar";
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 4px 4px 4px rgba(255, 217, 0, 0.548);
    }
}

.company-text {
        font-family: "Style Script", cursive;
        font-weight: 400;
        font-style: normal;
        white-space: nowrap;
    }

.tech-text {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "EDPT" 50,
        "EHLT" 21;
    white-space: nowrap;
}

.tech-text span {
    display: inline-block;
    transition: font-variation-settings 300ms;
}

.tech-text:hover span {
    animation: edpt-animate 2s infinite;
}

.tech-text span:nth-child(1) {
    animation-delay: 0s;
}

.tech-text span:nth-child(2) {
    animation-delay: 0.1s;
}

.tech-text span:nth-child(3) {
    animation-delay: 0.2s;
}

.tech-text span:nth-child(4) {
    animation-delay: 0.3s;
}

.tech-text span:nth-child(5) {
    animation-delay: 0.4s;
}

.tech-text span:nth-child(6) {
    animation-delay: 0.5s;
}

.tech-text span:nth-child(7) {
    animation-delay: 0.6s;
}

.tech-text span:nth-child(8) {
    animation-delay: 0.7s;
}

.tech-text span:nth-child(9) {
    animation-delay: 0.8s;
}

.tech-text span:nth-child(10) {
    animation-delay: 0.9s;
}


.google-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.google-blue {
    color: #4285f4;
}

.google-red {
    color: #ea4335;
}

.google-yellow {
    color: #fbbc05;
}

.google-green {
    color: #34a853;
}

.details {
    padding: 1em;
    line-height: 1.5em;
    text-align: left;
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

.flower-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
}

.flower-svg {
    width: 100%;
    height: auto;
}

.background-circle {
    fill: var(--fill-color, lightgrey);
    stroke: var(--stroke-color, darkgrey);
    stroke-width: 2;
    filter: url(#blur-stroke);
    /* Apply the blur filter */
}

.unblurred-background-circle {
    fill: var(--fill-color, lightgrey);
    stroke: var(--stroke-color, darkgrey);
    stroke-width: 2;
    clip-path: url(#clip-circle);
    /* Clip the blur */
}

.center-circle {
    fill: url(#animated-gradient);
    stroke: url(#animated-gradient);
    stroke-width: 2;
}

.petal {
    fill: transparent;
    stroke: url(#animated-gradient);
    stroke-width: 2;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

@keyframes rotate-slow {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-medium {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-fast {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.group-1 {
    animation: rotate-slow 30s linear infinite;
}

.group-2 {
    animation: rotate-medium 24s linear infinite;
}

.group-3 {
    animation: rotate-medium 16s linear infinite;
}

.group-4 {
    animation: rotate-fast 12s linear infinite;
}

.group-5 {
    animation: rotate-fast 10s linear infinite;
}