---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div class="block">
          <div class="col-md-8">
            <img src="{{ site.baseurl }}/img/portfolio/{{ page.heroimage }}" alt="{{ page.heroalt }}">
          </div>
          <div class ="col-md-4">
            <h1>{{ page.title }}</h1>
            <h3>{{ page.subtitle }}</h3>
            <hr />
            {{ content }}  
          </div>
        </div>
      </div><!-- .col-md-7 close -->
    </div>
  </section>
</div>
<p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/">Back to Projects</a>
</p>
